:root {
  --gold-trans: #a3730314;
  --gold: #a37303;
  --border-checkbox-def: #dcdcdc;
  --border-checkbox-3: 3px;
  --grey: #acacac;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.flow1 {
  background-color: #f7f5f5;
  flex-flow: row;
  padding-left: 5rem;
  padding-right: 0;
  display: flex;
}

.left {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-right: 0;
  display: flex;
}

.right {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-image: url('../images/Right.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  flex-flow: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 50%;
  display: flex;
}

.right._2 {
  background-image: url('../images/Right_1.jpg');
  flex-flow: column;
  justify-content: flex-end;
  display: flex;
}

.back-button {
  grid-column-gap: 8px;
  background-color: #f7f5f5;
  border: 1px solid #00000014;
  border-radius: 999px;
  flex: 0 auto;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  width: 155px;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
}

.back-button:hover {
  background-color: var(--gold-trans);
}

.left-chevron-flow {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  text-decoration: none;
  display: flex;
}

.back-flow {
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.stepper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.step-icon {
  background-color: #fafafa;
  border: 1px solid #a37303;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 12px;
  text-decoration: none;
  display: flex;
}

.number-flow {
  color: #a37303;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.number-flow.inactive {
  color: gray;
  font-family: Figtree, sans-serif;
}

.step-text {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.step-divider-flow {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 1px;
  text-decoration: none;
  display: flex;
}

.step-icon-inactive {
  background-color: #edebeb;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 12px;
  text-decoration: none;
  display: flex;
}

.step-text-inactive {
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.main-heading-flow-start {
  color: #000;
  text-align: center;
  text-transform: none;
  margin-top: 16px;
  margin-bottom: 0;
  font-family: Semplicitapro, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}

.main-heading-flow-start.medium {
  font-size: 20px;
}

.main-heading-flow-start.left {
  text-align: left;
  text-transform: none;
  justify-content: center;
  align-self: flex-start;
  align-items: flex-start;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.main-heading-flow-start.white {
  color: #fff;
}

.flow-text {
  color: gray;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-right: 32px;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.flow-text._60 {
  width: 60%;
}

.plans {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 10px;
  text-decoration: none;
  display: flex;
}

.inputs {
  color: #000;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}

.checkbox-price {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
}

.checkbox-months {
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.form-heading {
  color: #000;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 8px;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;
}

.form-input-flow {
  grid-column-gap: 10px;
  background-color: #f7f7f7;
  border: 1px solid #d9d9d9;
  border-radius: 496px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 16px 20px;
  display: flex;
  box-shadow: 0 2px 2px #0000000a;
}

.form-input-flow:hover {
  background-color: var(--gold-trans);
}

.form-input-flow:focus-visible {
  color: #000;
}

.form-input-flow[data-wf-focus-visible] {
  color: #000;
}

.cta {
  text-align: left;
  background-color: #acacac;
  border-radius: 60px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  margin-top: 32px;
  padding: 16px 32px;
  display: flex;
}

.cta:hover {
  background-color: var(--gold);
}

.right-top-flow {
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 40px;
  text-decoration: none;
  display: flex;
}

.inner-trust-flow {
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.trust-container {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.trust-checkmark {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  text-decoration: none;
  display: flex;
}

.trust-text-flow {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 513px;
  text-decoration: none;
  display: flex;
}

.text-34 {
  color: #fff;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
}

.text-35 {
  color: #c1c1c1;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.bottom {
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0 40px 40px;
  text-decoration: none;
  display: flex;
}

.bottom-holder {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  border: 1px solid #ffffff38;
  border-radius: 999px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 24px 12px 12px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-13 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.left-inner-flow {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  width: 540px;
  padding-right: 24px;
  display: flex;
}

.flow2 {
  background-color: #f7f5f5;
  flex-flow: row;
  padding-left: 5rem;
  padding-right: 0;
  display: flex;
}

.bottom-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.inputs-3 {
  grid-row-gap: 24px;
  background-color: #fff;
  border: 1px solid #00000014;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 16px;
  text-decoration: none;
  display: flex;
  box-shadow: 0 1px 2px #0000000a;
}

.options {
  grid-column-gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.card-credit-card {
  grid-row-gap: 4px;
  background-color: #fff;
  border: 1px solid #0270de;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  display: flex;
  box-shadow: 0 1px 1px #00000014, 0 0 #0270de;
}

.icon {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-14 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  text-decoration: none;
  display: flex;
}

.label-2 {
  color: #0270de;
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 145%;
  text-decoration: none;
}

.card-google-pay {
  grid-row-gap: 4px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  display: flex;
  box-shadow: 0 1px 1px #00000008, 0 3px 6px #00000005;
}

.icon-2 {
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-15 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 16px;
  text-decoration: none;
  display: flex;
}

.label-3 {
  color: #6d6e78;
  letter-spacing: .04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 145%;
  text-decoration: none;
}

.vectors-wrapper-16 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 16.0006px;
  height: 16px;
  text-decoration: none;
  display: flex;
}

.card-more-options {
  grid-row-gap: 4px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding: 12px;
  text-decoration: none;
  display: flex;
  box-shadow: 0 1px 1px #00000008, 0 3px 6px #00000005;
}

.icon-3 {
  grid-row-gap: 10px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  display: flex;
}

.dots {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 4px;
  text-decoration: none;
  display: flex;
}

.inputs-4 {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.field-card-number {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.field-card-number-2 {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.label-4 {
  color: #30313d;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 145%;
  text-decoration: none;
}

.field {
  grid-column-gap: 8px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  display: flex;
  position: relative;
  box-shadow: 0 1px 1px #00000008, 0 3px 6px #00000005;
}

.input {
  color: #77787d;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 145%;
  text-decoration: none;
}

.tablist {
  grid-column-gap: 12px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.field-expiration, .field-cvc {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.icon-creditcardcvc {
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 12.5px;
  left: 199px;
}

.vectors-wrapper-21 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 17px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-22 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 18px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 15px;
  left: 457px;
}

.info-2 {
  background-color: #edebeb;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 16px 12px;
  text-decoration: none;
  display: flex;
}

.frame-1000003613 {
  grid-column-gap: 6px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-38 {
  color: #30313d;
  letter-spacing: .02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 145%;
  text-decoration: none;
}

.vectors-wrapper-23 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 48.0668px;
  height: 20px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-24 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  text-decoration: none;
  display: flex;
}

.cta-stripe-checkout {
  background-color: #acacac;
  border-radius: 60px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 16px 32px 16px 8px;
  text-decoration: none;
  display: flex;
}

.cta-stripe-checkout:hover {
  background-color: var(--gold);
}

.price-flow-btn {
  grid-column-gap: 8px;
  background-color: #fff;
  border-radius: 999px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  text-decoration: none;
  display: flex;
}

.price-in-btn {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.btn-text-flow {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.step1-done {
  grid-column-gap: 8px;
  border: 1px #00000014;
  border-radius: 3px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 10px 0;
  text-decoration: none;
  display: flex;
}

.checkmark-icon-flow {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-decoration: none;
  display: flex;
}

.step2-active {
  grid-column-gap: 8px;
  border: 1px #a37303;
  border-radius: 3px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  text-decoration: none;
  display: flex;
}

.step-number-flow {
  background-color: #fafafa;
  border: 1px solid #a37303;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 12px;
  text-decoration: none;
  display: flex;
}

.step-number-inactive {
  background-color: #edebeb;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 12px;
  text-decoration: none;
  display: flex;
}

.ellipse-24 {
  object-fit: cover;
}

.right-testominal {
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  text-decoration: none;
  display: flex;
}

.testi-container {
  grid-row-gap: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #ffffff0f;
  border: 1px solid #ffffff1f;
  border-radius: 3px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 442px;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.test-inner {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.test-name-stars {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.test-name {
  grid-column-gap: 16px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.testiomonial-name {
  color: #ffffffb3;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}

.frame-1000003588 {
  grid-column-gap: 4px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.dual-button-flow {
  grid-column-gap: 24px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.testimonial-text-flow {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.bottom-4 {
  -webkit-backdrop-filter: blur(9.5px);
  backdrop-filter: blur(9.5px);
  background-color: #ffffff1f;
  border: 0 solid #ffffff38;
  border-top-width: 1px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 32px 48px;
  text-decoration: none;
  display: flex;
}

.help-flow {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  display: flex;
}

.text-51 {
  color: #fffc;
  letter-spacing: .22em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.frame-1000003629 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.subheading-flow-20 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.chat-start-white {
  grid-column-gap: 8px;
  background-color: #fff;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding: 16px 32px;
  text-decoration: none;
  display: flex;
}

.start-a-chat {
  color: #a37303;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}

.flow-bubble {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-decoration: none;
  display: flex;
}

.body {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: column;
  display: flex;
}

.welcome-app {
  grid-column-gap: 44px;
  grid-row-gap: 44px;
  background-color: #f7f5f5;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 88px 5rem;
  display: flex;
}

.description {
  grid-column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.portal-title-container {
  background-color: #2d2c2c;
  border: 0 solid #ededed;
  border-bottom-width: 1px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 32px 120px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.oval {
  border-style: solid;
  border-width: undefinedpx;
  object-fit: cover;
  border-color: #f5e5e5;
  position: absolute;
  top: -381px;
  left: 998px;
}

.oval-2 {
  border-style: solid;
  border-width: undefinedpx;
  object-fit: cover;
  border-color: #f5e5e5;
  position: absolute;
  inset: auto auto 0% -12%;
}

.portal-heading-cont {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 513px;
  text-decoration: none;
  display: flex;
}

.text-68 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
}

.card-2 {
  grid-row-gap: 40px;
  border: 1px undefined undefined;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-image: linear-gradient(136.95deg, #4d4f51, #17191c);
  border-radius: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
  min-height: 134px;
  padding: 24px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 16px #0003;
}

.frame-1000003641 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.card-membership-flow {
  color: #fff9;
  letter-spacing: .1em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-1000003642 {
  grid-column-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.text-71 {
  color: #fff;
  letter-spacing: .1em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
}

.card-name-flow {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  text-decoration: none;
}

.vectors-wrapper-32 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 111.558px;
  height: 111.728px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 56.021px;
  left: 249.063px;
}

.portal-venues {
  grid-row-gap: 24px;
  background-color: #fff;
  border: 1px solid #00000014;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 49%;
  margin-right: 24px;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.heading-flow-cont {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-1000003605 {
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.venue-box-flow {
  grid-column-gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.venue-1-flow {
  grid-row-gap: 10px;
  background-image: linear-gradient(#0000 28%, #000 100%), url('../images/Frame-1000003594.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 150px;
  min-height: 150px;
  padding: 16px;
  display: flex;
}

.venue-text-flow {
  grid-row-gap: 4px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.venue-heading-flow {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
}

.venue-location-flow {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.venue-2-flow {
  grid-row-gap: 10px;
  background-image: linear-gradient(#0000 28%, #000 100%), url('../images/image.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 150px;
  min-height: 150px;
  padding: 16px;
  display: flex;
}

.venue-3-flow {
  grid-row-gap: 10px;
  background-image: linear-gradient(#0000 28%, #000 100%), url('../images/Frame-1000003594_1.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 150px;
  min-height: 150px;
  padding: 16px;
  display: flex;
}

.venue-4-flow {
  grid-row-gap: 10px;
  background-image: linear-gradient(#0000 28%, #000 100%), url('../images/image.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 150px;
  min-height: 150px;
  padding: 16px;
  display: flex;
}

.portal-events {
  grid-row-gap: 24px;
  background-color: #fff;
  border: 1px solid #00000014;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 49%;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.see-all-button {
  color: #a37303;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}

.frame-1000003600 {
  grid-column-gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.event-flow {
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 315px;
  text-decoration: none;
  display: flex;
}

.event-image-portal {
  grid-row-gap: 10px;
  object-fit: cover;
  background-image: linear-gradient(#0000 36%, #000);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 160px;
  padding: 0;
  display: flex;
}

.image-18 {
  grid-row-gap: 16px;
  background-color: #f7f5f5;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.event-spec-flow {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.event-details-flow {
  color: #1a1a1a;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  text-decoration: none;
}

.portal-booking {
  background-color: #fff;
  border: 1px solid #00000014;
  border-radius: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 49%;
  margin-top: 32px;
  margin-right: 24px;
  text-decoration: none;
  display: flex;
}

.frame-1000003649 {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 246px;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.booking-flow-details {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.flow-card-subherading {
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.whatsapp-portal-button {
  grid-column-gap: 8px;
  background-color: #1a1a1a;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.vectors-wrapper-33 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-decoration: none;
  display: flex;
}

.btn-white-text {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.interom-portal-button {
  grid-column-gap: 8px;
  background-color: #1a1a1a;
  border-radius: 60px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  text-decoration: none;
  display: flex;
}

.book-flow-image {
  grid-row-gap: 10px;
  object-fit: cover;
  background-color: #1a1a1a;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 222px;
  height: 246px;
  padding: 0;
  text-decoration: none;
  display: flex;
}

.portal-app {
  grid-column-gap: 24px;
  background-color: #fff;
  border: 1px solid #00000014;
  border-radius: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 49%;
  margin-top: 32px;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.app-details-flow {
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  align-items: flex-start;
  width: 100%;
  height: auto;
  text-decoration: none;
  display: flex;
}

.frame-1000003655 {
  grid-column-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-1000003656 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-right: 32px;
  text-decoration: none;
  display: flex;
}

.qrcode {
  grid-row-gap: 10px;
  background-color: #1a1a1a;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 198px;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.qrc {
  object-fit: contain;
  width: 150px;
  height: 150px;
}

.portal-container {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  place-content: space-between center;
  align-self: stretch;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding-top: 44px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.portal {
  background-color: #f7f5f5;
  flex-flow: column;
  order: 0;
  justify-content: center;
  align-items: center;
  padding-bottom: 88px;
  display: flex;
}

.div-block-5 {
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding-top: 44px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.div-block-6 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.div-flow-form {
  flex: 1;
}

.checkbox-flow {
  grid-row-gap: 2px;
  border: 1px solid var(--border-checkbox-def);
  background-color: #fafafa;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 72px;
  padding: 16px;
  text-decoration: none;
  display: flex;
  position: relative;
  box-shadow: 0 2px 2px #0000000a;
}

.checkbox-flow:hover {
  border-color: var(--gold);
  background-color: #a3730314;
}

.checkbox-flow._50 {
  width: 50%;
}

.heading-left-cont-flow {
  flex-flow: column;
  justify-content: center;
  align-self: flex-start;
  align-items: flex-start;
  display: flex;
}

.left-arrow {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  text-decoration: none;
  display: flex;
}

.checkbox-wrap {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  color: #616161;
  border-radius: .25rem;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: .5rem;
  display: flex;
}

.checkbox-wrap:hover {
  color: #424242;
}

.checkbox-wrap:active {
  color: #242424;
}

.checkbox-wrap:focus {
  outline-offset: 0px;
  outline: 2px solid #000;
}

.checkbox-wrap.is-checked.is-focused {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-flow: wrap;
  order: -1;
  justify-content: flex-start;
  width: 100%;
  padding-right: 0;
}

.checkbox {
  color: #616161cc;
  -webkit-text-stroke-color: #616161b3;
  border: 1px solid #616161cc;
  border-radius: 999px;
  width: 1rem;
  height: 1rem;
  margin: .5rem .25rem;
  position: absolute;
  inset: 0% 5% auto auto;
}

.checkbox.w--redirected-checked {
  outline-offset: 0px;
  background-color: #0f6cbd;
  background-image: url('../images/check.svg');
  background-size: .5rem .375rem;
  border-width: 1px;
  border-color: #0f6cbd;
  outline: 3px #616161;
}

.checkbox.w--redirected-focus {
  box-shadow: none;
}

.checkbox.is-checked {
  background-color: #0f6cbd;
  background-image: url('../images/check.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: .5rem .375rem;
  border-color: #0f6cbd;
}

.checkbox.is-checked.is-focused {
  background-color: #000;
  border-radius: 999px;
  margin-left: 7.65rem;
  position: absolute;
  inset: 0% 5% auto auto;
}

.checkbox.gift {
  top: 6px;
  right: 12px;
}

.checkbox.gift.w--redirected-checked {
  background-color: var(--gold);
}

.body-1 {
  width: 0;
  height: 0;
  margin-bottom: 0;
  font-size: 0;
  line-height: 0;
  display: none;
}

.price-check-plans {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
  display: flex;
}

.price-check-plans.align-left {
  justify-content: flex-start;
  align-items: center;
}

.form-4 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  display: flex;
}

.field-label, .field-label-2 {
  margin-bottom: 8px;
}

.div-block-9 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  display: flex;
}

.inner-welcome {
  grid-column-gap: 64px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 880px;
  text-decoration: none;
  display: flex;
}

.left-wrapper-flow {
  grid-row-gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  text-decoration: none;
  display: flex;
}

.subheading-flow {
  color: gray;
  letter-spacing: .24em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.welcome-heading {
  color: #1b1a19;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Semplicitapro, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
}

.right-container-inner-welcome {
  background-color: #fff;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 372px;
  height: 415px;
  padding: 40px;
  text-decoration: none;
  display: flex;
}

.text-wrap-flow {
  grid-row-gap: 15.7091px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.subheading-flow-gold {
  color: #a37303;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.flow-heading-s {
  color: #1b1a19;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Semplicitapro, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  text-decoration: none;
}

.btn-stack {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.welcome-btn {
  grid-column-gap: 15px;
  background-color: #a37303;
  border-radius: 58.9091px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 55.5895px;
  padding: 15.7091px 24px;
  display: flex;
}

.vectors-wrapper-36 {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-decoration: none;
  display: flex;
}

.welcome-btn-text {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Figtree, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 23.56px;
  text-decoration: none;
}

.card-welcome {
  background-color: #fff;
  border: .981818px solid #1b1a1914;
  border-radius: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 880px;
  height: 415px;
  display: flex;
}

.app-welcome-container {
  grid-row-gap: 23.5636px;
  background-image: linear-gradient(#000, #474747);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 415px;
  padding: 31.4182px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.vectors-wrapper-37 {
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.right-container-welcome-inner {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 372px;
  height: 415px;
  padding: 40px;
  text-decoration: none;
  display: flex;
}

.frame-1000003664 {
  grid-row-gap: 7.85455px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.arrow-right {
  object-fit: cover;
  justify-content: center;
  align-items: center;
  width: 23.5636px;
  height: 23.5636px;
  text-decoration: none;
  display: flex;
}

.link-block, .link-block-2 {
  width: 100%;
  text-decoration: none;
}

.link-block-3, .link-block-4, .link-block-5, .link-block-6 {
  text-decoration: none;
}

.flow-gif-form {
  background-color: #f7f5f5;
  flex-flow: row;
  padding-left: 5rem;
  padding-right: 0;
  display: flex;
}

.textarea {
  background-color: #f7f7f7;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  min-height: 333px;
  padding-top: 12px;
  font-family: Figtree, sans-serif;
}

.textarea:hover {
  background-color: var(--gold-trans);
}

@media screen and (max-width: 991px) {
  .flow1 {
    flex-flow: column;
    padding-left: 0;
  }

  .left {
    width: 100%;
  }

  .right {
    background-image: linear-gradient(#000000ba, #11111136), url('../images/Right.jpg');
    background-position: 0 0, 0 0;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .main-heading-flow-start {
    font-size: 24px;
  }

  .flow-text {
    width: 60%;
  }

  .right-top-flow {
    max-width: 540px;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .bottom {
    max-width: 540px;
    padding-left: 0;
    padding-right: 0;
  }

  .bottom-holder {
    margin-top: 32px;
  }

  .flow2 {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }

  .right-testominal {
    height: auto;
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .portal-title-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .portal-venues {
    max-width: 100%;
    margin-right: 0;
  }

  .portal-events {
    max-width: 100%;
  }

  .portal-booking {
    max-width: 100%;
    margin-top: 0;
    margin-right: 0;
  }

  .whatsapp-portal-button {
    padding-left: 12px;
    padding-right: 12px;
  }

  .portal-app {
    max-width: 100%;
    margin-top: 0;
  }

  .div-block-5 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .inner-welcome {
    grid-row-gap: 32px;
    flex-flow: column;
  }

  .left-wrapper-flow {
    width: 100%;
  }

  .right-container-inner-welcome {
    max-width: none;
  }

  .flow-gif-form {
    flex-flow: column;
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .left {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main-heading-flow-start {
    margin-top: 0;
    font-size: 22px;
  }

  .main-heading-flow-start.medium {
    font-size: 18px;
  }

  .dual-button-flow {
    grid-column-gap: 12px;
  }

  .portal-title-container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .btn-white-text {
    font-size: 13px;
    line-height: 13px;
  }

  .card-welcome {
    flex-flow: column;
    height: auto;
  }

  .app-welcome-container {
    border-top-left-radius: 0;
    border-bottom-right-radius: 16px;
    height: 450px;
  }

  .right-container-welcome-inner {
    order: -1;
  }
}

@media screen and (max-width: 479px) {
  .flow1 {
    flex-flow: column;
    padding-left: 0;
    padding-right: 0;
  }

  .left {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    width: 100%;
    padding: 44px 1rem;
    overflow: hidden;
  }

  .right {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .stepper {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  .step-icon {
    box-sizing: border-box;
    outline-offset: 0px;
    object-fit: fill;
    outline: 0 #333;
    width: 20px;
    height: 20px;
    font-family: Figtree, sans-serif;
    line-height: 18px;
    overflow: hidden;
  }

  .number-flow {
    line-height: 20px;
  }

  .number-flow.inactive {
    color: gray;
  }

  .step-text {
    text-align: center;
    padding-top: 2px;
    font-size: 13px;
    line-height: 13px;
  }

  .step-divider-flow {
    width: 32px;
    display: block;
  }

  .step-text-inactive {
    padding-top: 4px;
    font-size: 13px;
    line-height: 13px;
  }

  .main-heading-flow-start {
    text-align: center;
    font-size: 24px;
  }

  .main-heading-flow-start.medium {
    text-align: left;
    margin-top: 0;
  }

  .main-heading-flow-start.medium.mobile {
    font-size: 16px;
  }

  .main-heading-flow-start.left {
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
  }

  .flow-text {
    box-sizing: border-box;
    text-align: left;
    width: 100%;
  }

  .flow-text._60 {
    width: 100%;
    margin-top: 1rem;
  }

  .checkbox-months {
    width: 100%;
    font-family: Figtree, sans-serif;
    font-size: 13px;
  }

  .right-top-flow {
    background-image: linear-gradient(#000000ab, #fff0);
    height: auto;
    padding: 48px 22px 24px;
  }

  .bottom {
    padding-left: 22px;
    padding-right: 22px;
  }

  .bottom-holder {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: row;
  }

  .left-inner-flow {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    width: 100%;
  }

  .flow2 {
    padding-left: 0;
  }

  .options {
    grid-row-gap: 8px;
    flex-flow: column;
  }

  .card-more-options {
    align-self: stretch;
  }

  .cta-stripe-checkout {
    padding-right: 8px;
  }

  .price-in-btn {
    font-family: Figtree, sans-serif;
    font-size: 14px;
    line-height: 18px;
  }

  .btn-text-flow {
    padding-right: 8px;
    font-size: 14px;
    line-height: 18px;
  }

  .step1-done {
    box-shadow: none;
    flex-flow: column;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 0;
  }

  .checkmark-icon-flow {
    width: 20px;
    height: 20px;
    margin-bottom: 0;
  }

  .step2-active {
    flex-flow: column;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 0;
  }

  .step-number-inactive {
    width: 24px;
    height: 24px;
  }

  .right-testominal {
    height: auto;
    padding: 44px 1rem 22px;
  }

  .dual-button-flow {
    grid-column-gap: 12px;
  }

  .bottom-4 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 1rem;
  }

  .subheading-flow-20 {
    font-family: Figtree, sans-serif;
    font-size: 20px;
  }

  .chat-start-white {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
  }

  .start-a-chat {
    font-family: Figtree, sans-serif;
    font-size: 14px;
    line-height: 16px;
  }

  .welcome-app {
    padding: 44px 1rem;
  }

  .portal-title-container {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-flow: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .portal-venues {
    max-width: 100%;
    margin-right: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .venue-box-flow {
    grid-row-gap: 16px;
    flex-flow: column;
  }

  .portal-events {
    max-width: 100%;
    padding: 12px 1rem 32px;
  }

  .frame-1000003600 {
    grid-row-gap: 16px;
    flex-flow: column;
  }

  .image-18 {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .portal-booking {
    flex-flow: column;
    max-width: 100%;
    margin-top: 0;
    margin-right: 0;
  }

  .frame-1000003649 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .whatsapp-portal-button {
    padding-left: 12px;
  }

  .btn-white-text {
    font-family: Figtree, sans-serif;
    font-size: 14px;
    line-height: 14px;
  }

  .interom-portal-button {
    padding-left: 12px;
    padding-right: 12px;
  }

  .book-flow-image {
    border-top-right-radius: 0;
    border-bottom-left-radius: 16px;
    max-width: 100%;
  }

  .portal-app {
    flex-flow: column;
    max-width: 100%;
  }

  .qrcode {
    width: 100%;
    margin-top: 12px;
  }

  .div-block-5 {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
    padding-top: 24px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .checkbox-flow {
    height: auto;
    padding-left: 12px;
    padding-right: 12px;
  }

  .heading-left-cont-flow {
    width: 100%;
  }

  .checkbox {
    -webkit-text-stroke-width: 1px;
    border-radius: 999px;
    position: absolute;
    inset: 0% 5% auto auto;
  }

  .price-check-plans {
    flex-flow: row;
  }

  .inner-welcome {
    flex-flow: column;
  }

  .left-wrapper-flow {
    width: 100%;
  }

  .welcome-heading {
    font-size: 32px;
  }

  .right-container-inner-welcome {
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .welcome-btn-text {
    line-height: 18px;
  }

  .card-welcome {
    flex-flow: column;
    height: auto;
  }

  .right-container-welcome-inner {
    order: -1;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .wfc-logo-flow {
    width: 80%;
  }

  .link-block-3 {
    margin-top: 44px;
  }

  .flow-gif-form {
    flex-flow: column;
    padding-left: 0;
    padding-right: 0;
  }
}


@font-face {
  font-family: 'Semplicitapro';
  src: url('../fonts/SemplicitaPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Semplicitapro';
  src: url('../fonts/SemplicitaPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Semplicitapro';
  src: url('../fonts/SemplicitaPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Semplicitapro';
  src: url('../fonts/SemplicitaPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}